<header class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html"><img class="img-fluid" src="~/assets/images/logo.png" alt="parsa"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">
      <ul class="navbar-nav ml-auto" id="mynavigation">
        <li class="nav-item">
           <a class="nav-link text-uppercase text-dark" href="/Home/index">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/home/about">Hakkında</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/home/contact">İletişim</a>
        </li>
      </ul>
      <form class="form-inline position-relative ml-lg-4">
        <input class="form-control px-0 w-100" type="search" placeholder="Ara..">
        <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
        <a href="/home/search" class="search-icon"><i class="ti-search text-dark"></i></a>
      </form>
    </div>
  </nav>
</header>