@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Exception exception = ViewData["HandleException"] as Exception;
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null && Model.ShowRequestId)
{
    <p>
        <strong>Request Message:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (exception != null)
{
    <p>
        <strong>Request Message:</strong> <code>@exception.Message</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

  

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');</script>
</head>
<body>
    <div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
        <div class="pd-10">
            <div class="error-page-wrap text-center">
                @if (Model != null && Model.ShowRequestId)
                {

                    <h1>@Model.RequestId</h1>
                   
                }
                @if (exception != null)
                {
                    <h3>
                        <strong>Request Message:</strong> <code>@exception.Message</code>
                    </h3>

                }


                <div class="pt-20 mx-auto max-width-200">
                    <a href="/Home" class="btn btn-primary btn-block btn-lg">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>